.reviews {
    display:flex;
    flex-direction: column-reverse;
}

.description{
    border-bottom: solid 2px black;
}
.newSpotLink{
    text-decoration: none;
}
.home{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home images{
width:20%;
}
