.hidden{display: none}
*{
    margin:0;


}
/* .root{
    display:flex;
    align-items:center;
    justify-content: flex-end;
} */
.link-to-home{
    text-decoration: none;
}
.navigation{
    border-bottom: 2px solid rgb(218, 207, 207);

    display:flex;
    width: 100%;
    overflow:hidden;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items:center;
    padding-left:1rem;
    padding-top:1rem;
    /* padding-right:1rem; */

    /* padding-right:0; */
    /* margin-left:2.1rem; */
    /* margin-right: 3rem; */
        /* position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999; */

}
.titleandlogo{
    display: flex;
    /* border: red solid 2px; */
    gap:.8rem;
    justify-content:flex-start;
    align-items: center;
    padding-bottom:.8rem;

}
.logo{
    width: 2.5rem;
    height: 2.5rem;}
.logo-name{
    color: rgb(221, 62, 62);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.navigation-button-create{
    display:flex;
    flex-direction:row;
    padding-right:1.5rem;
    justify-content: space-between;
    gap:1rem;
    /* margin-left:2.5%; */
}
.profile-dropdown{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style:none;
    position: absolute;
    right:0;
    z-index: 9999;
    background-color:white;
    border: gray 1px solid;
    /* padding-bottom: .5rem; */
    padding-right: 2rem;
    padding-top: .5rem;
    border-radius: 0%;

font-size: 12px;
}
.logout-button{
    background-color:rgb(244, 47, 90);
    border-radius: 30%;
    color:white;
    text-decoration: none;
    width: 5rem;
    height:1.8rem;
    margin-top: .5rem;

}
.profile-h6{
    font-size:smaller;
}
.profile-container-3{
    border-top:  gray 1px solid;
    width: 6rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.manage-spots{
    margin-top: .5rem;
    border-top:  gray 1px solid;
}
.manage-link{
    margin-top: .5rem;
    text-decoration: none;
}
