.hidden{display: none}

.link-to-home{
    text-decoration: none;
}
.titleandlogo{
    display: flex;
    /* border: red solid 2px; */
    border-bottom: 2px solid rgb(218, 207, 207);
    gap:.8rem;
    justify-content:flex-start;
    align-items: center;
    padding-bottom:.8rem;

}
.logo{
    width: 3rem;
    height: 3.5rem;}
.logo-name{
    color: rgb(221, 62, 62);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.navigation{
    display:flex;
    justify-content: space-between;
        /* position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999; */

}
.navigation-button-create{
    display:flex;
    flex-direction:row;
}
